@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="POST" asp-controller="Home" asp-action="Contact">
            <div class="form-group">
                <label for="Name">Full name</label>
                <input type="text" class="form-control" id="Name" name="Name" placeholder="John Smith">
            </div>
            <div class="form-group">
                <label for="Email">Email address</label>
                <input type="email" class="form-control" id="Email" name="email" placeholder="john.smith@gmail.com">
            </div>
            <div class="form-group">
                <label for="Phone">Phone number</label>
                <input type="number" class="form-control" id="Phone" name="PhoneNumber" placeholder="123456789">
            </div>
            <button type="submit" class="btn btn-sm btn-success">Zapisz</button>
        </form>
    </div>
</div>
